<br /><br />
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <script src="../Scripts/jquery-3.4.1.js"></script>
    <script src="../Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <input type="text" id="num"><br><br>
    <button id="get" onclick="get_request()">get</button>
    <button id="post" onclick="post_request();">post</button>
    <button id="put" onclick="put_request()">put</button>
    <button id="delete" onclick="delete_request();">delete</button><br><br>
    <div id="output"></div>

    <script async>
        function get_request() {
            $.ajax({
                headers: {
                    Accept: "application/json",
                    'Access-Control-Allow-Origin': 'http://localhost:90/'
                },
                url: 'http://localhost:90/api/values',
                method: 'GET',
                accepts: 'application/json; charset=utf-8',
                dataType: 'json',
                crossDomain: true,
                success: function (data) {
                    document.getElementById("output").innerHTML = JSON.stringify(data);
                }
            });

        };

        function post_request() {
            let num = document.getElementById('num').value;
            $.ajax({
                headers: {
                    Accept: "application/json",
                    'Access-Control-Allow-Origin': 'http://localhost:90/'
                },
                url: `http://localhost:90/api/values?result=${num}`,
                method: 'POST',
                dataType: 'json',
                success: function (data) {
                    get_request();
                }
            });
            
        };

        function put_request() {
            let num = document.getElementById('num').value;
            $.ajax({
                headers: {
                    Accept: "application/json",
                    'Access-Control-Allow-Origin': 'http://localhost:90/'
                },
                url: `http://localhost:90/api/values?add=${num}`,
                method: 'PUT',
                dataType: 'json',
                success: function (data) {
                    get_request();
                }
            });
        };

        function delete_request(text) {
            $.ajax({
                headers: {
                    Accept: "application/json",
                    'Access-Control-Allow-Origin': 'http://localhost:90/'
                },
                url: 'http://localhost:90/api/values',
                method: 'DELETE',
                dataType: 'json',
                success: function (data) {
                    get_request();
                }
            });
        };

    </script>


</body>
</html>